body, 
input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar{
    border-bottom: 5px solid #e9e9e9;
    box-shadow: 0 0 15px rgba(0, 0, 0, .55);
}

.navigation{
    padding-left: 0px;
    font-size: 18pt;
}

.navigation ul li a{
    text-decoration: none;
}

.link{
    color: #173C88;
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding: .5rem 0rem;
}

.this {
  color: #005E9D;
}

@media (min-width: 992px){
    .link{
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .navigation {
      display: flex;
      flex-direction: row-reverse;
    }

    .navigation ul li a{
        padding-right: 40px;
    }
}

/* Footer */
.footer-section {
  background-color: #0070BB;
  margin: 0;
  padding: 0;
}

.footer-row {
  height: 80px;
}

.footer-col {
  color: #fff;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.footer-col a {
  color: #fff;
  text-decoration: none;
}

.footer-col a i {
  font-size: 50px;
  margin-left: 20px;
  transition: 0.1s;
}

.footer-col a i:hover {
  font-size: 55px;
}

.footer-col a#name {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  transition: 0.2s;
}

.footer-col a#name:hover {
  text-decoration: none;
}

@media(max-width: 575px) {
  .footer-row {
    height: 160px;
  }

  .footer-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.solid {
  border: 1px solid #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(0.05deg);
  margin: 50px 0;
}