html {
    scroll-behavior: smooth;
  }
  
  .btn-options{
    height: 100px;
    width: 40%;
    background-color: #0070BB;
    color: #fff;
    padding: 6px 20px;
    margin: 20px 0;
    border: 2px solid #0070BB;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18pt;
  }

  .btn-options:hover{
    background-color: #008CEB;
    border: 2px solid #008CEB;
    color: #fff;
    text-decoration: none;
  }
  
  /*Section About*/
  .about {
    margin-top: 120px;
  }
  
  .about h1 {
    color: #005E9D;
    font-weight: bold;
  }
  
  .about p {
    color: #757781;
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  @media(max-width: 815px) {
    .about h1 {
      font-size: 2rem;
    }
    .about p {
      font-size: 1rem;
    }
  }
  
  @media(max-width: 770px) {
    .about h1 {
      font-size: 1.5rem;
    }

    .btn-options{
      font-size: 12pt;
      height: 80px;
      margin: 15px 0;
    }
  
    .about p {
      font-size: .7rem;
    }
  }

  @media(max-width: 515px) {
    .btn-options{
      font-size: 9pt;
      margin: 10px 0;
      height: 60px;
    }
  }